@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Metal+Mania&family=Roboto:ital,wght@1,300&display=swap');

/* Default styling and repeat styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    min-height: 100%;
    color: #fff;
}




